@import 'partial/base';

.nav-container {
    display: flex;    
}

.logo-container {
    height: 200px;

    img {
        max-width: 100%;
    }
}

.nav-items {
    ul li {
        list-style: none;
        padding: 10px;
    }

    .nav-btn, .nav-link {
        padding: 10px;
    }

    

    a, i {
        color: $purple;
    }

    i {
        border: 3px solid $purple;
        padding: 5px;
        border-radius: 5px;
    }

    .nav-link {
        display: block;
        border-bottom: 2px solid lighten($purple, 35%);
    }

    a {
        text-decoration: none;
        
        font-weight: bold;
        text-transform: uppercase;  
        

        &:hover {
            color: $yellow;
            font-size: 1.4rem;
        }
    }
}