@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$font-raleway: 'Raleway', sans-serif;
$purple: #7122EF;
$yellow: #D9B60B;

 body {
     font: $font-raleway;
     font-size: 1.5rem;
 }   